*.o
*.pbi
*.xcl
*.d
*.crf
*.htm
*.lnp
*.map
*.dep
*._2i
*.fed
*.l2p
*.bin
*.hex
*.bat
*.ps1
*.dep
docs/html/**
docs/latex/**
docs/docbook/**
**/settings/**
**/Debug/**
Backup of*.ewp
Backup (*) of*.ewp
Backup of*.dep
Backup (*) of*.dep
*.sim
*.dnx
*.out
*.log
*.vscode
*.code-workspace